<div id="<%= dom_id crm %>">
  <p>
    <strong>App Name:</strong>
    <%= crm.app_name %>
  </p>

  <p>
    <strong>App Phone:</strong>
    <%= crm.app_phone %>
  </p>

  <p>
    <strong>App Email:</strong>
    <%= crm.app_email %>
  </p>

</div>
